import(methods)
import(ff)
import(IRanges)
import(BiocParallel)

exportClasses(gdManager)

exportMethods(getGroup, formula)

export(pargee)

export(
    getGroup, groupedData2ff, getDep, getEta, getMu, getX, getY, Di,
    Vinv.i, ri, Gcomps, combi,
    discrim, 'discrim<-', numdat, 'numdat<-' 
)
